<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <title>HOME</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light fixed-top bg-light">
        <div class="container">
          <div class="navbar-header">
            <p class="navbar-brand">RESULT MANAGEMENT</p>
          </div>
          <ul class="navbar-nav">
            <li id="home" class="nav-item">
              <% if(navLink == "Admin Login") { %>
              <a class="nav-link" href="/admin/login"><%= navLink %></a>
              <% } else { %>
              <a class="nav-link" href="/"><%= navLink %></a>
              <% } %>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
