<%- include('partials/header'); -%>
    <main>
      <div class="form-style">
        <img src="/result.png" alt="home-image" class="center" />
        <form>
          <div class="form-group">
            <label for="inputEnrolment">Enrolment No.</label>
            <input
              type="text"
              class="form-control"
              id="inputEnrolment"
              aria-describedby="emailHelp"
            />
            <small class="form-text text-muted"
              >Search your results by entering your enrolment no.</small
            >
          </div>
          <button type="submit" class="btn btn-dark" style="width: 125px">
            Search
          </button>
        </form>
      </div>
    </main>
  </body>
</html>
