body {
  background-color: #f3fafa;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
body::-webkit-scrollbar {
  display: none;
}
